<!DOCTYPE html>
<html>

  <head>
    <title>Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>

    <div id="app">Loading app...</div>

    <% if (production) { %>
    <script type="text/javascript" src="config-<%= pkg.version %>.js"></script>
    <script type="text/javascript" src="all-<%= pkg.version %>.js"></script>
    <% } else { %>
    <script type="text/javascript" src="config.js"></script>
    <% _.forEach(vendors, function(vendor) { %>
    <script type="text/javascript" src="<%= vendor %>"></script>
    <% }) %>
    <script type="text/javascript" src="bundle.js"></script>
    <% } %>

  </body>

</html>
